<html>
    <head>
        <title>Dogs list</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script> 
            $('#seletor').attr("checked",true, function(){
                alert(1)
            });
            var e = $('#action').click(function(){
                window.alert('oi');
            });
    
        </script>
    </head>
    <body>
        <h1>All dogs will be listed here</h1>
        <h3>Select one to update</h3>
        <ul>
            {{#forEach dogs }}
                <li>    
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="seletor" value="update/ {{ id }}">
                    <label class="form-check-label" for="inlineRadio">Update</label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="seletor" value="delete/{{ id }}" onclick="console.log({{ id }})">
                    <label class="form-check-label" for="inlineRadio">Delete</label>
                    </div>
                    Race: {{ race }} - Color: {{ color }} - Age: {{ age }}
                    
                </li>
            {{/forEach}}
            <button id="action" class="btn btn-primary" onclick="window.fetch('http://localhost:3000/dogs/' + $('input[type=radio][name=inlineRadioOptions]:checked').val(), {method: 'DELETE'}).then(window.location.reload())">Ok</button>
            <script>
                var name = 'http://localhost:3000/dogs/' + $('input[type=radio][name=inlineRadioOptions]:checked').val()
            </script>
        </ul>
        <script src="/js/bootstrap.js"></script>
    </body>
</html>